@font-face {
    font-family: 'Get Schwifty Font';
    src: url('../fonts/get_schwifty.ttf') format('truetype'); /* Ruta correcta y formato de fuente */
    font-weight: normal;
    font-style: normal;
}